.Calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1vmin;
  padding: 1vmin;
}

.Calendar > header {
  grid-column: span 7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1vmin;
}

.Calendar > header > span {
  flex: 1;
  text-align: center;
  cursor: pointer;
  font-size: 30px;
  color: #f57f14;
}

.Calendar > .dow {
  height: 8vmin;
  width: 8vmin;
  text-align: center;
  line-height: 8vmin;
}

.flex-ctr-ctr {
  color: #f57f14;
  background-color: #2e3135;
  padding: 1vmin;
  border-radius: 1vmin;
}

.rawglink {
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: #f57f14;
  padding: 5px;
  text-decoration: none;
}