.UserCalDay {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12vmin;
  background-color: #2e3135;
  border-radius: 1vmin;
  text-shadow: 1px 1px 0 #f57f14, -1px -1px 0 #f57f14, 1px -1px 0 #f57f14, -1px 1px 0 #f57f14;
  }
  
  .UserCalDay.today {
    border: 0.5vmin solid #e2dddf;
  }
  
  .UserCalDay button {
    margin: 0;
    color:#2e3135;
    text-shadow: 1px 1px 0 #f57f14, -1px -1px 0 #f57f14, 1px -1px 0 #f57f14, -1px 1px 0 #f57f14;
    background: none; 
    padding: 0;
  }